body {
    /*background-color: grey;*/
  }
  .profile-card {
    /*background-color: blue;*/
  }
  .head {
    /*background-color: green;*/
  }
  .profile-data {
    /*background-color: yellow;*/
  }
  .contacts {
    /*background-color: red;*/
  }
  .design {
    /*background-color: violet;*/
  }
  /* CSS reset */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
  }
  body {  
    height: 100vh;
    background: url('assets/bg_yoga.jpg')no-repeat center center fixed;
    background-size: cover;
    font-family: Garamond;
    margin: 40px auto 40px 120px;
  }
  /* Pozicionálás */
  .profile-card {
    width: 770px;
    max-width: calc(100vw - 10px);
    height: 530px;
  }
  .right {
    float: right;
  }
  .head {
    width: 350px;
    height: 540px;
    text-align: center;
  }
  .profile-data { 
    line-height: 2.5em;
    padding: 20px;  
    height: 250px;
    color: rgba(141, 97, 13, 0.85);
    box-shadow: 25px 1px 25px 4px rgba(211, 167, 9, .19);  
  }
  .dividient3 {
    width: 350px;
    height: 30px;
    /*background-color: orange;*/
  }
  /* Contact links */
  .contacts {
    font-size: 23px;
    line-height: 1.6em;  
    padding: 7% 11%;  
    height: 250px;
    text-align: left;
    box-shadow: -14px 7px 35px 12px rgba(18, 27, 93, 0.8);
  }
  h1 {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
    padding: 20px;
  }
  h2, h3, h4 {
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 24px;
  }
  ul {
    list-style-type: none;
  }
  .dividient1 {
    width: 50px;
    height: 540px;
    /*background-color: orange;*/
  }
  .class1 {
    width: 370px;
    height: 250px;
    /*background-color: orange;*/
  }
  .dividient2 {
    width: 370px;
    height: 30px;
    /*background-color: orange;*/
  }
  .class2 {
    width: 370px;
    height: 250px;
    /*background-color: pink;*/
    text-align: justify;
    padding: 32px 18px;
    font-style: italic;
    font-size: 18px;
  }
  .social-icon {
    color: rgba(11, 18, 72, 1);
    font-size: 140%;
  }
  .social {
    display: inline;
  }
  .fa-map-marker, .fa-envelope-o, .fa-phone {
    color: rgba(11, 18, 72, 1);
  }